<div>
  <%= comment.author.user_name %></br>
  <p>
    <%= comment.content %>
  </p>

  <%= link_to "reply", new_comment_url(parent_comment_id: comment.id)%>

  <ul>
    <% @comments.each do |child| %>
      <% if child.parent_comment_id == comment.id %>
        <li> <%= render "comments/comment", comment: child %> </li>
      <% end %>
    <% end %>
  </ul>

</div>
